<tool name="GetAcreProjectPath">  <version>1.1.0</version>  <date>2019-01-12</date>  <main>GetAcreProjectPath</main>  <container>#_GetAcreProjectPath</container>  <files></files>  <needs>  </needs>  <scriptOnly>1</scriptOnly>  <wsid>Development</wsid>  <autoload>1</autoload>  <buildid>3</buildid></tool>